/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Tahoma, "Helvetica Neue", sans-serif; }


// below are global default styles for Angular material elements

// mat-form-field element
mat-form-field {
    .mat-form-field {
        &-flex {
            font-size: 18px;
            font-family: Tahoma;
        }
    }
}
